h1 > a.a-disable {
  color: #000;
  text-decoration: none;
}
h1 > a.a-disable:hover {
  color: #9dae08;
}

.div-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  padding: 20px;
}

form {
  width: 40%;
  margin: auto;
}

td,
th {
  vertical-align: middle;
}

.form-group {
  margin-bottom: 1rem;
}